<ion-view view-title="Contacts">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="toggleMenu()" style="border:0">
      <i class="icon ion-navicon-round"></i>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button" ng-click="" href="#/contacts/add" style="border:0">
      <i class="icon ion-plus-round"></i>
    </a>
  </ion-nav-buttons>

  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="searchData" ng-change="findBy()">
    </label>

    <label class="item item-input item-select">
      <div class="input-label">Order by</div>
      <select ng-model="orderByType">
        <option>Age</option>
        <option>Gender</option>
        <option>Rating</option>
      </select>
    </label>
    
    <br>

    <ion-list ng-show="searchResult.length">
      <a class="item item-thumbnail-left" href="#/contacts/{{contact.id}}" ng-repeat="contact in contacts">
        <img src="cover.jpg">
        <h2>Name</h2>
        <p>phone number</p>
        <p>gender</p>
        <p>age</p>
        <p>rating</p>
      </a>
    </ion-list>

    <ion-list ng-show="searchResult.length">
      <a class="item item-thumbnail-left" href="#/contacts/{{contact.id}}" ng-repeat="contact in searchResult">
        <img src="cover.jpg">
        <h2>Name</h2>
        <p>phone number</p>
        <p>gender</p>
        <p>age</p>
        <p>rating</p>
      </a>
    </ion-list>
  </ion-content>
</ion-view>
